@font-face {
    font-family: "BNazanin";
    src: url("../fonts/BNazanin/BNazanin.eot") format("eot"),
        url("../fonts/BNazanin/BNazanin.woff") format("woff"),
        url("../fonts/BNazanin/BNazanin.ttf") format("truetype");
}

*,
html,
body {
    padding: 0px;
    margin: 0px;
    font-family: "BNazanin";
    line-height: 1;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;

    overflow: auto;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
