.body {
  display: grid;
  grid-template-rows: 1fr auto;

  /* justify-content: center; */
  /* align-content: center; */
  /* justify-items: center; */
  /* align-items: center; */

  row-gap: 2em;

  padding: 2em;

  /* color: #084940; */
  background-color: #edfdfb;

  overflow: auto;
}
